extends base
block content 
    form(method="post")
        input(name="name" type="text"  placeholder="Name" value=loggedInUser.name required)
        input(name="email" type="email" placeholder="Email" value=loggedInUser.email  required)
        input(name="nickname" type="text"  placeholder="Nickname" value=loggedInUser.nickname required)
        input(name="location" type="text" placeholder="Location" value=loggedInUser.location required)
        input(type="submit" value="Update Profile")