extends base

block content
    h1 hello from upload page
    form(method="POST")
        input(name="title" placeholder="Title name"  type="text" required)
        input(type="submit" value="Upload Video")